  <% if book.errors.any? %>
    <div class="error-message">
      <h2 class="error-title"><%= book.errors.count %>error prohibited this book from being saved:</h2>
        <ul class="error-body">
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>